
* {
  box-sizing: border-box;
  font-family: 'Roboto', system-ui, 'sans-serif';
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

#output {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#output > div:last-child {
  margin-bottom: 0;
}

main, #output-wrapper {
  height: 0;
}


.message {
  width: fit-content;
  background-color: lightgray;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
}

.message.me {
  align-self: flex-end;
  background-color: rgb(208, 242, 255);
}

.message.others {
  background-color: lightgray;
}
.message.me.dark-mode {
  background-color:rgb(15, 85, 223) ;
}
.message.others.dark-mode {
  background-color: rgb(102, 104, 104)
}
#login-overlay {
  background-color: rgba(0, 0, 0, 0.742);
  /* background-image: url("https://www.shutterstock.com/image-vector/social-media-sketch-vector-seamless-600nw-1660950727.jpg"); */
  background-image: url(/src/img/background.jpeg);
  position: fixed;
  left: 0;
  top: 0;
}


#login-overlay {
  background-color: rgba(0, 0, 0, 0.742);
  /* background-image: url("https://www.shutterstock.com/image-vector/social-media-sketch-vector-seamless-600nw-1660950727.jpg"); */
  background-image: url(/src/img/background.jpeg);
  position: fixed;
  left: 0;
  top: 0;
}

#login-overlay > .wrapper {
  width: 400px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(5px);
}
#account {
  width: 60px;
  height: 60px;
  align-self: center;
  border-radius: 50%;
  background-size: contain;
  cursor: pointer;
  position: relative;
}

#account-details {
  position: absolute;
  width: 200px;
  right: 0;
  top: calc(100%+ 2px);
  border-radius: 10px;
  border: 1px solid darkgray;
  background-color: white;
  text-align: right;
  padding: 10px;
  z-index: 9999;
}